name: Testing

on:
  push:
    branches:
      - main
    paths:
      - "**.rs"
      - "Cargo.*"
      - ".github/workflows/testing.yml"
  pull_request:
    paths:
      - "**.rs"
      - "Cargo.*"
      - ".github/workflows/testing.yml"

env:
  CARGO_TERM_COLOR: always

jobs:
  libs-test:
    name: Run lib tests
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./
    
    steps:
      - uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        env:
          cache-name: cache-dependencies
        with:
          path: |
            ~/.cargo
            examen-tools/target
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install cargo tools
        uses: taiki-e/install-action@v2
        with:
          tool: nextest

      - name: Run tests
        run: cargo nextest run --failure-output=immediate --success-output=never --lib
